
body { 
/* background: linear-gradient(to right, rgb(21, 0, 252), rgb(0, 30, 255)) */
background-color: #060674;

}

.keys {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 19px;
  border-radius: 15px;
  z-index: 9999;
 
}

  .message {
      position: fixed;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      font-weight: bold;
      color: #000000;
      background-color: #fff;
      padding: 19px;
      border-radius: 20px;
      box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.2);
      z-index: 9999;
      display: none;
    }
 
footer{
    padding-top: 50%;
} 
footer .foot-text{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
footer .foot-p{
    color: whitesmoke;
    text-align: center;
    margin-top: 2rem;
}
.media{
  margin-top: 3.5rem;
}
.media img{
  margin-right: 2rem;
  width: 2.5rem;
  transition: 0.4s;
}
.media img:hover{
transform: scale(1.2);
}
.logo img{
  position: fixed;
width: 5rem;
height: 5rem;
}
.up img{
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  bottom: 6%;
}
h6{
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0.1px;
  color: #FBB400;
}

.left-element {
  position: fixed;
  top: 3%; /* Adjust top position as needed */
  left: 3%; /* Adjust left position as needed */
}

.right-element {
  width: 5rem;
height: 5rem;
  position: fixed;
  top: 3%; /* Adjust top position as needed */
  right: 5%; /* Adjust right position as needed */
}
